@page "/forms"
@namespace FormsClone.Pages.MainFunctionality.Forms
@using FormsClone.CSharp.MainFunctionality.Interfaces
@using FormsClone.CSharp.MainFunctionality.Forms.Models
@using FormsClone.Pages.MainFunctionality.Forms.Tabs.Questions.SelectComponents
@using FormsClone.CSharp.UserManagement.Interfaces
@inject IEntityService<Form> FormsService
@inject NavigationManager NavigationManager
@inject ITabService TabService
@inject ILoginService LoginService

<h3>Формы</h3>

<div class="input-group mb-3">
    <input type="text" class="form-control" @bind="searchTerm" placeholder="Поиск по шаблонам..." />
    <button class="btn btn-primary" @onclick="SearchForms">Найти</button>
</div>

@if (isUserLoggedIn) 
{
    <button class="btn btn-primary" @onclick="NavigateToCreateForm">Создать Форму</button>
}

@if (filteredForms != null && filteredForms.Any())
{
    <ul class="list-group mt-3">
        @foreach (var form in filteredForms)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @form.Name
                <div>
                    @if (isUserLoggedIn) 
                    {
                        <button class="btn btn-warning btn-sm" @onclick="() => EditForm(form.ID)">Редактировать</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => DeleteForm(form.ID)">Удалить</button>
                    }
                    else
                    {
                        <span class="text-muted">Войдите, чтобы редактировать или удалять шаблоны.</span>
                    }
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>Нет доступных форм.</p>
}

@code {
    private List<Form>? forms;
    private List<Form>? filteredForms;
    private bool isUserLoggedIn;
    private string searchTerm = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        forms = await FormsService.GetAllAsync();
        filteredForms = forms; 
        isUserLoggedIn = await LoginService.IsUserLoggedInAsync();
    }

    private void NavigateToCreateForm()
    {
        TabService.SetActiveTab("Questions");
        NavigationManager.NavigateTo("/create-form");
    }

    private void EditForm(string id)
    {
        NavigationManager.NavigateTo($"/edit-form/{id}");
    }

    private async Task DeleteForm(string id)
    {
        await FormsService.DeleteAsync(int.Parse(id));
        forms = await FormsService.GetAllAsync();
        filteredForms = forms;
    }

    private async Task SearchForms()
    {
        if (string.IsNullOrWhiteSpace(searchTerm))
        {
            filteredForms = forms;
        }
        else
        {
            filteredForms = await FormsService.SearchAsync(searchTerm); 
        }
    }
}
