@using FormsClone.CSharp.UserManagement.Interfaces

@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject ILoginService LoginService
@inject IJSRuntime JSRuntime

<div class="top-row ps-3 navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">FormsClone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                @if (IsLoggedIn)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/templates">
                            <span class="bi bi-file-earmark-text"></span> Шаблоны
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/questions">
                            <span class="bi bi-question-circle"></span> Вопросы
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/forms">
                            <span class="bi bi-file-earmark"></span> Формы
                        </NavLink>
                    </li>
                }
            </ul>

            <ul class="navbar-nav ms-auto d-flex align-items-center">
                @if (IsLoggedIn)
                {
                    <li class="nav-item me-3">
                        <span class="navbar-text text-light">Привет, @UserName</span>
                    </li>

                    <li class="nav-item">
                        <NavLink class="nav-link" href="/user-dashboard">
                            <span class="bi bi-person-circle"></span> Пользователь
                        </NavLink>
                    </li>

                    @if (IsAdmin)
                    {
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/admin-dashboard">
                                <span class="bi bi-speedometer2"></span> Админ
                            </NavLink>
                        </li>
                    }

                    <li class="nav-item">
                        <button class="btn btn-danger nav-link" @onclick="Logout">
                            <span class="bi bi-box-arrow-right"></span> Выйти
                        </button>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/login">
                            <span class="bi bi-box-arrow-in-right"></span> Войти
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/registration">
                            <span class="bi bi-person-plus-fill"></span> Зарегистрироваться
                        </NavLink>
                    </li>
                }

                <li class="nav-item">
                    <button id="theme-toggle-button" class="btn btn-dark nav-link" @onclick="ToggleTheme">
                        Переключить тему
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="content px-4">
    @Body
</div>

@code {
    protected bool IsLoggedIn;
    protected bool IsAdmin;
    protected string UserName = string.Empty;
    private bool isDarkTheme;

    protected override async Task OnInitializedAsync()
    {
        await UpdateUserStatusAsync();
    }

    private async Task UpdateUserStatusAsync()
    {
        IsLoggedIn = await LoginService.IsUserLoggedInAsync();

        if (IsLoggedIn)
        {
            IsAdmin = true;
            UserName = await UserService.GetUserNameAsync();
        }
        else
        {
            IsAdmin = false;
            UserName = string.Empty;
        }

        StateHasChanged();
    }

    private async Task SetInitialThemeAsync()
    {
        var preferredTheme = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "theme") ?? "light";
        isDarkTheme = preferredTheme == "dark";
        await JSRuntime.InvokeVoidAsync("toggleTheme", isDarkTheme);
    }

    private async Task Logout()
    {
        await LoginService.LogoutUserAsync();
        await UpdateUserStatusAsync();
        NavigationManager.NavigateTo("/", true);
    }

    private async Task ToggleTheme()
    {
        isDarkTheme = !isDarkTheme;
        await JSRuntime.InvokeVoidAsync("toggleTheme", isDarkTheme);
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "theme", isDarkTheme ? "dark" : "light");
    }
}
